.swiper-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

}
.swiper-container::-webkit-scrollbar {
  width: 12px;  /* Width of the scrollbar */
}

.swiper-container::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right, #EFE4F1, #FAEFFA, #E589AD, #ED597F, #FBCCFC, #E5BFFE, #B4E8FD, #75B3FC); /* Color of the scrollbar thumb */
  border-radius: 6px; /* Rounded corners of the scrollbar thumb */
  width: 12px;
}

.swiper-slide {
  display: inline-block;
  width: 450px; 
  margin: 5px;
  font-size: 20px;
  font-weight: 500;
}

.swiper-slide img {
  width: 100%;
  margin-bottom: 20px;
}
